/*Tirando valores pré definidos da página*/
body, ul, li{
  margin: 0px;
  padding: 0px; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /*Estilo da fonte*/
}


/*CSS Parte do cabeçalho*/

.cabecalho{
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 6rem;
  background-color:rgba(0, 0, 0, 0.925);
  box-shadow: 0px, 3px, 10px rgba(3, 3, 3, 0.74);
}


.logo{
  display: flex;
  align-items: center;
}

.logo h1{
  color: rgb(255, 255, 255);
}

.menu{
  display: flex;
  align-items: center;
}

.menu ul{
  display: flex;
  justify-content: center;
  list-style: none;
}

.item{
  margin: 0 15px;
}

.link{
  text-decoration: none;
  font-size: 1.15rem;
  color: rgb(255, 255, 255);
  font-weight: 400;
}

.link:hover{
  color: rgba(255, 1, 1, 0.74);
}

.mobile-menu-icon{
  display: none;
}

.mobile-menu{
  display: none;
}

/*Cabeçalho responsivo*/

@media screen and (max-width: 730px) {
  .cabecalho{
      padding: 1.5rem 4rem;
  }

  .item{
      display: none;
  }

  .mobile-menu-icon{
      display: block;
  }

  .mobile-menu-icon button{
      background-color: transparent;
      border: none;
      cursor: pointer;
      filter: invert(100%);
  }

  .mobile-menu ul{
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-bottom: 1rem;
  }

  .mobile-menu .item{
      display: block;
      padding-top: 1.2rem;
  }

  /*Cabeçalho - parte js*/

  .open{
      display: block;
  }
}

/*Fundo da página*/
body{
  height: 100vh;
  background-color: rgba(116, 116, 116, 0.74);
}
/*parte do assunto da pagina*/
main{
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.904);
  box-shadow: 0px, 3px, 10px rgba(3, 3, 3, 0.74);
  background-color: rgba(3, 3, 3, 0.74);
  margin-top: 100px;
  margin-right: 100px;
  margin-left: 100px;
  margin-inline: 100px;
  text-align: center;
}
main p{
  text-align: center;
}
.equipe{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2vw;
  padding: 0 1vw;
}
.fotosequipe{
  width: 200px;
  height: 200px;
  border: 5px solid #fff;
  box-shadow: 5px 5px 5px #0009;
  transition: transform 1s linear;
}
.fotosequipe img{
  width: 200px;
  height: 100%;
  object-fit: cover;
}
body {
  background-image: url(../img/camera.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-blend-mode: luminosity;
  background-size: 100%;
  background-position-y: center;
  
  
}
div {
  text-align: center;
} 
/*Parte do rodapé*/
r {
  opacity:1;
}

  .footer-basic {
  padding:40px 0;
  background-color: rgba(3, 3, 3, 0.74);
  color:#aaa;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
  filter: invert(100%);
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  /*border-radius:50%;
  border:1px solid #ccc;*/
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}


/* Responsivo */
@media (max-width: 800px) {
  .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
}
@media (max-width:600px) {
  .footer-col{
      width: 100%;
  }
}